.contact {
    padding: 448px 0 0px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    .bg {
        height: 1034px;
        width: 100%;
        background:  url(../images/bg_contact.png) center
        /cover no-repeat;
        position: absolute;
        top: -34%;
        z-index: -100;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 59%;
            height: 432px;
            width: 100%;
            background:  linear-gradient(360deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
            z-index: -99;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2%;
            height: 304px;
            width: 100%;
            background:  linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
            z-index: -99;
        }
    }
    h2 {
        margin-bottom: 35px;
    }
    &_wrap {
        max-width: 920px;
        width: 100%;
        height: 525px;
        background: rgba(226, 211, 206, 0.2);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(9px);
        border-radius: 10px;
        padding: 75px 30px 110px;
        margin: 0 auto;
        position: relative;
        &::before,
        &::after {
            content: '';
            display: block;
            border: 1px solid #fff;
            border-radius: 10px;
            width: 94%;
            height: 10px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::before {
            border-bottom: none;
            top: -5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        &::after{
            border-top: none;
            bottom: -15px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
        input {
            text-align: center;
            height: 55px;
            max-width: 350px;
            width: 100%;
            background: rgba(255, 255, 255, 0.14);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(20px);
            border-radius: 30px;
            &:focus {
                outline: none;
                animation-name: blink;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
            }
        }
        .phone {
            margin-bottom: 39px;
        }
    }
    .icon-btn_decor:before {
        color: #000;
    }
    .btn_wrap{
        position: relative;
        max-width: 350px;
        width: 100%;
    }
    
}
