.lux_pack_page {
    background-image: url(../images/bg_top_inner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 0 left 50%;
    z-index: -10;
    margin-bottom: 50px;
    .page_top {
        padding-top: 150px;
        h2 {
            @include fz(60);
            font-weight: normal;
            text-align: center;
            margin: 0 auto 55px;
        }
        .filter{
            width: 100%;
            z-index: 100;
            &_top {
                text-align: center;
                position: relative;
                h3 {
                    color: #79655E;
                    line-height: 55px;
                    margin: 0 auto;
                    top: 25px;
                }
            }
            &_main {
                font-family: 'Manrope';
                @include fz(18);
                line-height: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                height: 114px;
                border-radius: 10px;
                padding-top: 2px;
                padding-left: 37px;
                padding-right: 26px;
                label {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    padding-top: 12px;
                }
                input {
                    position: relative;
                    top: 5px;
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                }
                .filter_coll {
                    display: flex;
                    gap: 8px;
                }
                .wrap {
                    text-align: left;
                }
                .over_text {
                    display: block;
                    font-weight: 300;
                    margin-bottom: 5px;
                }
                .text {
                    color: #000;
                    display: block;
                    font-weight: 500;
                }
                i {
                    font-size: 17px;
                }
            }
        }
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 100px 0;  
        .card {
            list-style: none;
            border-radius: 10px;
            overflow: hidden;
            width: calc(33.3333% - 20px);
            height: 570px;
            a{
                color: #fff;
                padding: 35px;
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: flex-end;
                transition: all .5s ease;
                &:hover{
                    transform: scale(1.1) translateY(-10px);
                }
            }
            .image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -10;
                &::before {
                    content: ' ';
                    display: block;
                    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(11, 32, 52, 1) 100%);
                    position: absolute;
                    width: 100%;
                    height: 45%;
                    bottom: 0;
                    left: 0;
                }
            }
            .info {
                max-width: 300px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .col_info {
                    text-align-last: left;
                }
                i{
                    font-size: 20px;
                    color: #fff;
                }
                .overhead {
                    font-family: 'Manrope';
                    @include fz(12);
                    line-height: 16px;
                    font-weight: 500;
                }
                h4 {
                    max-width: 220px;
                    @include fz(36);
                    line-height: 36px;
                    margin-bottom: 30px;
                }
                .price_wrap {
                    span {
                        display: block;
                        @include fz(24);
                        line-height: 24px;
                    }
                    span:first-child {
                        font-family: 'Manrope';
                        @include fz(12);
                        line-height: 16px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                .col_rait {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 11px;
                    align-items: center;
                    .rait {
                        @include fz(14);
                        font-weight: 500;
                        font-family: 'Manrope';
                        // margin-bottom: 10px;
                    }
                    .romb {
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        transform: translate(-50%, -50%) rotate(45deg) skew(17deg, 17deg);
                        margin-left: 10px;
                    }
                    .romb1 {
                        background-color: transparent;
                        border: 2px solid #fff;
                    }
                }
            }
        }
        .btn_more {  
            z-index: 10;
        }
    }
}
.lux_pack_page + .subscribe {
    padding: 0;
    .subscribe_wrap{
        margin-bottom: 50px;
    }
}