.packages {
    position: relative;
    padding-top: 8px;
    .bg {
        background: linear-gradient(180deg, #E2D3CE 0%, #C9C8D8 30.73%, #D4D8C6 59.37%, #E2D3CE 100%);
        height: 1850px;
        width: 100%;
        position: absolute;
        top: -21%;
        z-index: -110;
    }
    .packages_wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        padding-bottom: 100px;
        .col {
            width: calc(33.3333% - 20px);
        }
        .col_1{
            padding-top: 118px;
        }
        .col_2{
            padding-top: 120px;
        }
    }
    .head {
        min-width: 320px;
        max-width: 350px;
        width: 100%;
        margin-bottom: 267px;
        h2 {
            max-width: 220px;
            margin-bottom: 30px;
        }
    }
    .card {
        text-align: center;
        color: #fff;
        position: relative;
        min-width: 320px;
        max-width: 350px;
        width: 100%;
        min-height: 520px;
        max-height: 570px;
        height: 100%;
        padding: 20px 20px 139px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        p{
            padding-top: 16.6%;
        }
        .image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            &::before {
                content: ' ';
                display: block;
                background:linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgba(11, 32, 52, 1) 100%);
                position: absolute;
                width: 100%;
                height: 45%;
                top: 0;
                left: 0;
            }
        }
        .romb{
            top: 64%;
            position: absolute;
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 120px;
                height: 120px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg) skew(17deg, 17deg);
                z-index: -1;
                backdrop-filter: blur(20px);
            }
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 140px;
                height: 140px;
                border: 1px solid #79655E;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg) skew(17deg, 17deg);
                z-index: -1;
            }
        }
        p {
            max-width: 248px;
            @include fz(36);
            line-height: 98.5%;
        }
        span {
            display: block;
            @include fz(21);
        }
        .num {
            @include fz(35);
        }
    }
}