.page_book{
    background-image: url(../images/bg_top_inner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 0 left 50%;
    padding-top: 110px;
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
    .items_list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 50px;
        .item {
            width: calc(50% - 15px);
            background-color: #fff;
            border-radius: 10px;
            padding-bottom: 50px;
            position: relative;
            
            .image_wrap {
                height: 192px;
                position: relative;
                margin-bottom: 30px;
            }
            .image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
            }
            .p {
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                @include fz(44);
                letter-spacing: 0.04em;
            }
            .romb {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 100px;
                height: 100px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg) skew(17deg, 17deg);
                z-index: -9;
                backdrop-filter: blur(20px);
                }
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 120px;
                height: 120px;
                border: 2px solid #79655E;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg) skew(17deg, 17deg);
                z-index: -9;
                }
            }
            .text {
                max-width: 410px;
                width: 90%;
                text-align: center;
                font-size: 18px;
                line-height: 36px;
                font-family: 'Manrope';
                margin: 0 auto 45px;
            }
        }
        .btn_wrap{
            position: relative;
            max-width: 255px;
            margin: 0 auto;
            .btn{
                &::before,
                &::after {
                width: 33%;
                }
            }
        }
        .icon-btn_decor:before {
            color: #000;
        }
    }
}
.page_book + .subscribe {
    padding-bottom: 0;
    .subscribe_wrap {
        margin-bottom: 0;
    }
}